.git
.github
.DS_Store
.env
.venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.coverage
batches
data
evaluation_outputs
hpo_logs
logs
notebooks
outputs
src
tests
models/*
!models/lead1_model_full_hpo_V3.keras
